
<section>
    <form>
        <label for="item">Item:</label>
        <input class="form-control" id="item">
        <button type="submit" class="btn btn-primary">Add Item</button>
    </form>
    </section>
    <section>
    <ul class="list-unstyled">
        <li class="alert alert=success" *ngFor="let item of items">
            <span>{{item.description}}</span>
            <button (click)="markPurchased(item)" *ngIf="item.purchased===false" class="btn btn-danger">X</button>
        </li>
    </ul>
</section>